<div ng-controller="celebracaoController" ng-init="inicioAniversario()">
<div growl></div>
<div ng-show ="carregaSpinner">
	<span style="margin-top: 15%"
		us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
</div>
	<div class="col-sm-12" style=" margin-bottom: 34px">
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button hidden="true"> </button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<h2>Aniversariantes do Mês</h2>
			</div>
		</div>
	</div>

<div class="aniversario" >	
	<div class="text-center">
		<span ng-model="mesvigente"><h2>Mês: {{mesvigente}}</h2></span>
	</div>
	<div class="col-md-12">
		<hr/>
	</div>
	<div class="col-md-12">
				<div class="borda">
						<div style="margin-top:5%">
							<div class="text-center">
								<ul ng-repeat="pesq in listaAniversario">
									<span><h3>{{::pesq.dataNascimento}} - {{::pesq.nome}}</h3></span>
								</ul>
							</div>
						</div>
					
				</div>
</div>
</div>
</div>