<div ng-controller="profissaoController">
<div growl></div>
<div ng-show ="carregaSpinner">
	<span style="margin-top: 15%"
		us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
</div>
<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-info btnTamanho"
					ng-click="voltarBuscaProfissao()"
					title="Voltar para busca da profissão">Voltar</button>
			</div>
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-success btnTamanho" ng-click ="gravarProfissao()"
				    ng-disabled="formTreino.$invalid"
					title="Gravar Profissão">Gravar</button>
			</div>
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-warning btnTamanho" ng-click="limparCampos()"
					title="Limpar campos">Limpar</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<h2>Cadastro Profissão</h2>
			</div>
		</div>
	</div>
<div class="scrolltelaInterno">		
<form name="formTreino">	
	<div class="col-sm-12" style="margin-top: 34px">

		<div class="col-sm-6">
			<label class="pull-left">Nome da Profissão</label>
			<input type="text"  class="form-control obrigatorio" ng-model="profissao.nome" id ="txtProfissao" 
					autofocus required maxlength="50">
		</div>
			<div class="col-sm-2">
			<label class="pull-left">Dia</label>
			<select type="text"  class="form-control" ng-model="profissao.dia">
				<option value="">Selecione</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>
		</div>
		<div class="col-sm-2">
		<label class="pull-left">Mês</label>
			<select  class="form-control" ng-model="profissao.mes" ng-disabled="profissao.dia == ''">
				<option value="">Selecione</option>
				<option value="0">Janeiro</option>
				<option value="1">Fevereiro</option>
				<option value="2">Março</option>
				<option value="3">Abril</option>
				<option value="4">Maio</option>
				<option value="5">Junho</option>
				<option value="6">Julho</option>
				<option value="7">Agosto</option>
				<option value="8">Setembro</option>
				<option value="9">Outubro</option>	
				<option value="10">Novembro</option>	
				<option value="11">Dezembro</option>	
			</select>
		</div>
		
	</div>
</form>
</div>
</div>