<div ng-controller="atualizaTreinoController">
<div growl></div>
<div ng-show ="carregaSpinner">
	<span style="margin-top: 15%"
		us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
</div>
<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-info btnTamanho"
					ng-click="voltarBuscaTreino()"
					title="Voltar para busca do treino">Voltar</button>
			</div>
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-success btnTamanho" ng-click ="atualizaTreino()"
						ng-disabled="formTreino.$invalid"
						title="Gravar Treino">Atualizar</button>
			</div>
			
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<h2>Atualiza Treino</h2>
			</div>
		</div>
	</div>
		<div class="text-center ajuda">
		<span><strong>Ajuda: Campos em vermelho são obrigatórios</strong></span>
	</div>	
<div class="scrolltelaInterno">		
	<form name="formTreino">	
	<div class="col-sm-12" style="margin-top: 34px">

		<div class="col-sm-6">
			<label class="pull-left">Nome do treino</label>
			<input type="text"  class="form-control obrigatorio" ng-model="treino.nome" id ="txtTreino" 
					autofocus required maxlength="50">
		</div>
		
	</div>
</form>

</div>
</div>