<div ng-controller="treinoController">
<div growl></div>
<div ng-show ="carregaSpinner">
	<span style="margin-top: 15%"
		us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-success"
				   ng-click = "cadastraTreino()" 
					title="Cadastrar Treino">Cadastrar</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<h2>Treino</h2>
			</div>
		</div>
	</div>
	<div class="text-center">
		<h5><span style="color:red"><strong>Ajuda:  Cadastro/Atualização de treinos e vinculo dos alunos</strong></span></h5>
	</div>
<form name="formBusca">	
	<div class="col-sm-12">
		<hr>
		<div class="col-sm-6">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="busca" required autocomplete="on"
					placeholder="Digite o nome do treino para busca"> <span
					class="input-group-btn">
					<button class="btn btn-search" type="submit" ng-click="buscarTreino(busca)"
							ng-disabled="formBusca.$invalid">
						<i class="fa fa-search fa-fw"></i> Busca
					</button>
				</span>
			</div>

		</div>
	</div>
</form>	
	<div class="col-md-12">
				<div class="table-responsive scrollTabela"
					style="margin-top: 16px; position: relative">
					<table class="table table-striped table-hover" width="90%">
						<thead>
							<tr>
								<td><strong>Nome</strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

						</thead>

						<tbody>
							<tr ng-repeat="pesq in listaTreino" >
								<td>{{pesq.nome}}</td>
								<td></td>
								<td><button type="button" title="Vincular alunos no treino" class="btn btn-default" 
									ng-click="exibirVinculo(pesq)">Vincular Aluno</button></td>
								<td><span><a href="" ng-click="atualizaTreino(pesq.idTreino)"
									class="fa fa-edit  fa-2x" title="Alterar" style="color: blue"></a></span></td>
								<td><span><a href="" ng-click="excluirTreino(pesq.idTreino)"
									class="fa fa-times fa-2x" title="Excluir" style="color: red"></a></span></td>
							</tr>
						</tbody>
					</table>
				</div>
</div>