<div ng-controller="alunoController" ng-init="inicioTela()">
<div growl></div>
<div ng-show ="carregaSpinner">
	<span style="margin-top: 15%"
		us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-info btnTamanho"
					ng-click="voltarBuscaAluno()"
					title="Voltar para busca do aluno">Voltar</button>
			</div>
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-success btnTamanho" ng-click="gravarAluno()"
					ng-disabled="formAluno.$invalid"
					title="Gravar Aluno">Gravar</button>
			</div>
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-warning btnTamanho"  ng-click="limparCampos()"
					title="Limpar campos">Limpar</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<h2>Cadastro Aluno</h2>
			</div>
		</div>
	</div>
<div class="scrolltelaInterno">	
<form name="formAluno">	
	<div class="col-sm-12" style="margin-top: 34px">

		<div class="col-sm-6">
			<label class="pull-left">Nome</label>
			<input type="text"  class="form-control obrigatorio" ng-model="aluno.nome" required="required" autofocus
			maxlength="50">
		</div>
		<div class="col-sm-4">
			<label class="pull-left">Email</label>
			<input type="email"  maxlength="30"  required="required"
			       class="form-control obrigatorio" ng-model="aluno.email">
		</div>
		
		<div class="col-sm-2">
			<label class="pull-left">Sexo</label>
			<select class="form-control obrigatorio" ng-model="aluno.sexo" required>
				<option value ="">Selecione</option>
				<option value ="F">Feminino</option>
				<option value ="M">Masculino</option>
			</select>
		</div>
		
	</div>
	<div class="col-sm-12" style = "margin-top:12px">
		<div class="col-sm-2">
			<label class="pull-left">Data Nascimento</label>
			<div class="input-group">
			<input type="text" name="dataIni" class="form-control obrigatorio"
				ng-model="data" show-button-bar="false"
				uib-datepicker-popup="dd/MM/yyyy" is-open="openDatIni"
				datepicker-options="options" alt-input-formats="!d/!M/yyyy"
				maxlength="10" locate="pt-br" onkeyup="formatDate(this);"
				size="15" placeholder="DD/MM/AAAA" /> <span
				class="input-group-btn">

				<button type="button" class="btn btn-default"
					ng-click="opened('dataIni')" uib-tooltip="Abrir Calendário">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>

			</span>
		
		</div>
		</div>
		<div class="col-sm-4">
			<label class="pull-left">Profissão</label>
			<select class="form-control obrigatorio" ng-model="aluno.profissao"
						required="required">
						<option value="">Selecione</option>
						<option ng-repeat=" lista in listaProfissao" value="{{lista.idProfissao}}">{{lista.nome}}</option>
					</select>
		</div>
		
			<div class="col-sm-4">
			<label class="pull-left">Telefone Celular</label>
			<input type="text"  class="form-control obrigatorio"  ng-model="aluno.telefoneCelular" required
				   mask="(99)99999-9999" placeholder="(99)99999-9999">
		</div>
	</div>
	<div class="col-sm-12" style = "margin-top:12px">
	<hr>	
		<div class="col-sm-2">
			<label class="pull-left">Hora/Aula (R$)</label>
			<input type="text"  class="form-control obrigatorio" ng-model="aluno.horaAula" required mask="9?9?9?9?.9?9?">
		</div>
		<div class="col-sm-2">
			<label class="pull-left">% Ajuste Anual</label>
			<input type="text"  class="form-control"  ng-model="aluno.ajuste" mask="9?9?9?.9?9?">
		</div>
	
	</div>
</form>
</div>
</div>
