<div ng-controller="ajusteController">
<div ng-show="exibeMensagemOk">
	<div class="alert alert-success">
		<strong>Atenção!</strong> Dados registrados com sucesso
	</div>
</div>

<div class="container-fluid">

	<div class="panel panel-success"
		style="margin-top: 20px; position: relative;">
		<div class="panel-heading">
			<strong>Ajustar valor</strong>
		</div>
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-info btnTamanho"
					ng-click="carregarTela();closeThisDialog()" title="Voltar para busca do treino">
					Sair</button>
			</div>
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-success btnTamanho" ng-click="gravar()"
					title="Gravar Treino">Gravar</button>

			</div>
		</div>
		<div class="panel-body">
			<div class="col-sm-12">
				<hr>
				<div class="col-sm-2">
					<label class="pull-left">Hora/Aula (R$)</label> <input type="text"
						class="form-control" ng-model="aluno.horaAula" required
						mask="9?9?9?9?.9?9?">
				</div>
				<div class="col-sm-2">
					<label class="pull-left">% Ajuste Hora/Aula</label> <input
						type="text" class="form-control" ng-model="aluno.ajuste"
						mask="9?9?9?.9?9?">
				</div>
			</div>

		</div>



	</div>
</div>
</div>
