<div ng-controller="vinculaAulaController" ng-init="inicio()">
	<div ng-show="exibeMensagemOk">
		<div class="alert alert-success">
			<strong>Atenção!</strong> Dados registrados com sucesso 
			</div>
	</div>
	<div class="container-fluid">

		<div class="panel panel-success"
			style="margin-top: 20px; position: relative;">
			<div class="panel-heading">
				<strong>Vincular Aluno <-> Aula</strong>
				<div class="text-center">
					<p><h4>Aula: {{nomeAula}}</h4></p>
					<h5>Dia Semana: {{diaSemana}}</h5> 
				</div>


			</div>
			<div class="col-sm-6">
				<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
					<button type="button" class="btn btn-info btnTamanho"
						ng-click="closeThisDialog()" title="Voltar para busca do treino">
						Sair</button>
				</div>
				<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
					<button type="button" class="btn btn-success btnTamanho"
						ng-click="gravar()" title="Gravar Treino">Gravar</button>

				</div>
			</div>
			<div class="panel-body">

				<div class="col-md-12" style="margin-bottom: 20px">
					<dualmultiselect options="demoOptions"> </dualmultiselect>

				</div>
			</div>



		</div>
	</div>
</div>