
<div class="panel panel-danger">
	<div class="panel-heading">
		<strong>Atenção</strong>
	</div>
	<div class="panel-body">
		<div align="center">
			<label ng-model="site" style="font-size: 18px; margin-top: 16px;"
				class="text-center"> <strong> Deseja sair do sistema ?</strong></label>
		</div>
		<div class="pull-right" style="margin-top: 30px">
			<button class="btn btnTamanho" style="width: 120px; margin-left: 10px"
				id="bntPrincipal" ng-click="closeThisDialog()">Cancelar</button>
			<button class="btn btn-danger btnTamanho"
				style="width: 120px; margin-left: 20px" ng-click="confirm()">Sair</button>

		</div>
	</div>

</div>