@CHARSET "UTF-8";



 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 505px}
    
    /* Set gray background color and 100% height */
  
  
 #teste:after {
 
 	content: "\1F603";
  
    font-size: 3em;

 }    
    
   
    
 li{
 	content: none;
 }   
 

#logo{
	
	text-align: center;
	vertical-align: middle;
	padding-top: 18%;
	margin-top:auto;
	font-size: 55px;
	color: #008e00;
	opacity: 0.7;
	text-shadow: 10px 5px 5px gray;
	font-stretch: condensed;
	clear: both;
	
}

#centro{
	
	box-shadow: inset 10px 10px 10px gray
	min-height: 350px;
	max-height: 505px;
	border-radius: 12px;
	overflow: hidden;

	
}

 .btn {
  		border-radius: 12px; 
  		
  		
  } 
  
  .btnTamanho {
  
  		width: 120px;
  }

  .dualmultiselect label {
  margin: 10px;
}

.dualmultiselect .btn {
  margin: 10px;
}

.dualmultiselect .pool {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  height: 150px;
  overflow-y: scroll;
}

.dualmultiselect .pool ul {
  list-style: none;
  padding-left: 0px;
}

.dualmultiselect .pool ul li {
  width: 100%;
  padding: 4px 8px 4px 4px;
  border-bottom: 1px dotted #CFCFCF;
}

.dualmultiselect .pool ul li a:hover {
  text-decoration: none;
}

button:focus {outline:0;!important;}

#dias{
	
	margin: 0 auto;
	padding: 0 auto;
	
}

.scrollTabela {
	
	height: 310px;
	overflow: auto;
}


.aniversario {
	

	height: 490px;
	padding: 0 0 2px;
	margin: 0 auto;
	
	overflow-y: auto;
	overflow-x: hidden;
	height: 490px;
	border: 1px solid #e4e4e4;
	border-radius: 12px;
	box-shadow:  10px 10px 10px gray;
	background-color: white;
}


.borda{
	
	border: 1px solid #e4e4e4;
	border-radius: 12px;
	vertical-align: middle;
	overflow-y: auto;
	height: 240px;
	position: relative;
	box-shadow:  inset 5px 5px 5px #adadad;
	background-color: #f0f0f0;
	transition:  0.9s; 
	
	
}


.ajuda{
	
	text-shadow: 1px 1px 1px #ffffff;
	color:#0000ff;
	font-size: 18px;
	text-align: center; 
	
}



.scrolltelaInterno {
	

	height: 460px;
	padding: 0 0 2px;
	margin: 0 auto;
	max-height: 1500px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #e4e4e4;
	border-radius: 12px;
	box-shadow:  10px 10px 10px gray;
	background-color: white;
	clear: both;
	
}

.scrollDash {
	
	height: 90px;
	overflow: auto;
}

.scrollDashFinanceiro {
	
	height: 90px;
	overflow: auto;
}


.scrollDiasAula {
	
	height: 100px;
	overflow: auto;
}


.scrollDashPagamento {
	
	height: 120px;
	overflow: auto;
}


.fundo {
	
		 background: linear-gradient(lightgray, white);
}


.dash{
	
	box-shadow: 10px 10px 10px gray;
	border-radius: 12px 12px;
	
}


.dashzoom {
	
	zoom: 95%;
	margin-left: 95%;
	
}



.scrolltela {
    
    display: block;	
	height: 690px;
	padding: 0 0 2px;
	margin: 0 auto;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #e4e4e4;
	border-radius: 12px;
	box-shadow:  10px 10px 10px gray;
	background-color: white;
}

ul{
	list-style-type: none;
	
}

.well {
	
	background: transparent;
	
}


.obrigatorio {
	
		border-color: red;
	
}



.noteLargeFinanceiro{
	
 color: #333;
  position: relative;
  width: 460px;
  margin: 0 auto;
  padding: 40px;
  font-family: Satisfy;
  font-size: 18px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	
}



.noteLargeDetalheAula{
	
 color: #333;
  position: relative;
  width: 560px;
  margin: 0 auto;
  padding: 40px;
  font-family: Satisfy;
  font-size: 18px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	
}


.noteLarge{
	
 color: #333;
  position: relative;
  width: 860px;
  margin: 0 auto;
  padding: 40px;
  font-family: Satisfy;
  font-size: 18px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	
}

.yellowLarge{
	
	  background: #f8f7cb;
}

.note {

  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 68px;
  
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);

}

.yellow {
  background: #f8f7cb;
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;

}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}
.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.imagens input[type="radio"] {
    visibility: hidden;
}

.imagens label {
    display: block-inline;
    border: 2px solid #666;
    width: 60px;
    float: left;
    border-radius: 2em;
    background-color: #d2d2d2;
    box-shadow:  10px 10px 10px #494949;
}


.imagens label: hover {
   
    background-color: #eaeaea;
 
}


.imagens input[type="radio"]:checked+label {
    border-color: white;
    box-shadow:  5px 5px 5px gray;
    transition:  0.9s; 
     transform: scale(0.9,0.9);
}


.carinha label {
    display: block-inline;
    border: 2px solid #666;
    width: 30px;
    float: left;
    border-radius: 1em;
    background-color: #d2d2d2;
  
}



@media (min-heigth: 800px) {
  
  
.scrolltelaInterno {
	

	height: 560px;
	padding: 0 0 2px;
	margin: 0 auto;
	max-height: 1500px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #e4e4e4;
	border-radius: 12px;
	box-shadow:  10px 10px 10px gray;
	background-color: white;
	clear: both;
	
}
  
}



.loginTela {
	
	height: 260px;
	padding: 0 0 2px;
	margin-top: 10%;
	max-height: 1500px;
	
	border: 1px solid #e4e4e4;
	border-radius: 12px;
	box-shadow:  10px 10px 10px gray;

	background-image: url('../imagens/haltere.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
  



   