@CHARSET "UTF-8";


 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 505px}
    
    /* Set gray background color and 100% height */
    
    
   
    
 li{
 	content: none;
 }   
 

#logo{
	
	text-align: center;
	vertical-align: middle;
	padding-top: 18%;
	margin-top:auto;
	font-size: 55px;
	color: #008e00;
	opacity: 0.7;
	text-shadow: 10px 5px 5px gray;
	font-stretch: condensed;
	clear: both;
	
}

#centro{
	
	box-shadow: inset 10px 10px 10px gray
	min-height: 350px;
	max-height: 505px;
	border-radius: 12px;
	overflow: hidden;

	
}

 .btn {
  		border-radius: 12px; 
  		
  		
  } 
  
  .btnTamanho {
  
  		width: 120px;
  }

  .dualmultiselect label {
  margin: 10px;
}

.dualmultiselect .btn {
  margin: 10px;
}

.dualmultiselect .pool {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  height: 150px;
  overflow-y: scroll;
}

.dualmultiselect .pool ul {
  list-style: none;
  padding-left: 0px;
}

.dualmultiselect .pool ul li {
  width: 100%;
  padding: 4px 8px 4px 4px;
  border-bottom: 1px dotted #CFCFCF;
}

.dualmultiselect .pool ul li a:hover {
  text-decoration: none;
}

button:focus {outline:0;!important;}

.scrollTabela {
	
	height: 310px;
	overflow: auto;
}


input {
	
	box-shadow: inset 10px 10px 10px gray;
}


.obrigatorio {
	
		border-color: red;
	
}