<div ng-controller="dashController" ng-init="inicio()">
	<div growl></div>
	<div ng-show="carregaSpinner">
		<span style="margin-top: 15%"
			us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
	</div>
	<div align="center" style="margin-top: 2px">

		<div class="container-fluid">
			<div class="text-center ">
				<span><h3>
						<strong>Bem-vindo <span class="capitalize">{{nomePersonal}}</span></strong>
					</h3></span>
			</div>
			<div class="scrolltela" id="fundoHaltere" style="height: 480px">

				<div class="pull-right"
					style="clear: both; float: right; opacity: 0.3; padding-right: 18px; padding-top: 10px; text-shadow: inset 3px 3px 3px white">
					<span>&copy; 2017 - sistema desenvolvido por Ulisses de
						Castro</span>
				</div>
			
				<div class="col-sm-12"	style="margin-left: -308px; margin-top: 1.5%;">

					<div class="text-center">
						<h4><strong>Aulas Agendadas</strong></h4>
					</div>
					<div class="noteLargeFinanceiro yellow  dash" style="margin-bottom:12px">

						<div class="scrollDashFinanceiro">
							<div style="margin-left: -40px">
							<span class="text-center" style="color:red"><strong>Aulas do Dia {{dataFormatadaAnterior}}</strong></span>
								<ul ng-repeat="pesq in listaAulasAnterior">
									<li><div ng-if="pesq.presenca == 1">
											<a style="color: green" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.falta == 1">
											<a style="color: red" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.faltajusticada == 1">
											<a style="color: red" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div>
										<div
											ng-if="pesq.faltajusticada == 0 && pesq.falta == 0  && pesq.presenca == 0">
											<a style="color: blue" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div></li>
								</ul>

							</div>
						</div>

					</div>
					
				<div class="noteLargeFinanceiro yellow  dash">

						<div class="scrollDashFinanceiro">
							<div style="margin-left: -40px">
							<span class="text-center" style="color:green"><strong>Aulas do Dia {{dataFormatada}}</strong></span>
								<ul ng-repeat="pesq in listaAulas">
									<li><div ng-if="pesq.presenca == 1">
											<a style="color: green" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.falta == 1">
											<a style="color: red" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.faltajusticada == 1">
											<a style="color: red" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div>
										<div
											ng-if="pesq.faltajusticada == 0 && pesq.falta == 0  && pesq.presenca == 0">
											<a style="color: blue" href=""
												ng-click="dadosAula(pesq.idAula)"><h4>
													{{pesq.horario}} - {{pesq.nomeAluno}}</h4></a>
										</div></li>
								</ul>

							</div>
						</div>

					</div>
				</div>	
				<div class="col-sm-12"	style="margin-left: 238px; margin-top: -31.5%;">
					<div class="noteLargeDetalheAula yellow  dash">
					</div>
				
				</div>
				<div>
				</div>	

				</div>
			</div>
		</div>
	</div>
