<div ng-controller="dashController" ng-init="inicio()">
	<div growl></div>
	<div ng-show="carregaSpinner">
		<span style="margin-top: 15%"
			us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
	</div>
	<div align="center" style="margin-top: 2px">

		<div class="container-fluid">
			<div class="text-center ">
				<span><h3>
						<strong>Bem-vindo <span class="capitalize">{{::nomePersonal}}</span></strong>
					</h3></span>
			</div>
			<div class="scrolltela" id="fundoHaltere" style="height: 80vh">

				<div class="pull-right"
					style="clear: both; float: right; opacity: 0.3; padding-right: 18px; padding-top: 10px; text-shadow: inset 3px 3px 3px white">
					<span>&copy; 2017 - sistema desenvolvido por Ulisses de
						Castro</span>
				</div>
			
				<div class="col-sm-12"	style="margin-left: -308px; margin-top: 8vh;">

					<div class="text-center">
						<h4><strong>Aulas Agendadas</strong></h4>
					</div>
					<div class="noteLargeFinanceiro yellow  dash" style="margin-bottom:12px">

						<div class="scrollDashFinanceiro">
							<div style="margin-left: -40px">
							<span class="text-center" style="color:red"><strong>Aulas do Dia {{dataFormatadaAnterior}}</strong></span>
								<ul ng-repeat="pesq in listaAulasAnterior">
									<li><div ng-if="pesq.presenca == 1">
											<a style="color: green" href=""
												ng-click="detalhesAula(pesq.idAula);mudaData(dataFormatadaAnterior)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.falta == 1">
											<a style="color: red" href=""
												ng-click="detalhesAula(pesq.idAula);mudaData(dataFormatadaAnterior)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.faltajusticada == 1">
											<a style="color: red" href=""
												ng-click="detalhesAula(pesq.idAula);mudaData(dataFormatadaAnterior)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div>
										<div
											ng-if="pesq.faltajusticada == 0 && pesq.falta == 0  && pesq.presenca == 0">
											<a style="color: blue" href=""
												ng-click="detalhesAula(pesq.idAula);mudaData(dataFormatadaAnterior)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div></li>
								</ul>

							</div>
						</div>

					</div>
					
				<div class="noteLargeFinanceiro yellow  dash">

						<div class="scrollDashFinanceiro">
							<div style="margin-left: -40px">
							<span class="text-center" style="color:green"><strong>Aulas do Dia {{::dataFormatada}}</strong></span>
								<ul ng-repeat="pesq in listaAulas">
									<li><div ng-if="pesq.presenca == 1">
											<a style="color: green" href=""
												ng-click="detalhesAula(pesq.idAula);mudaData(dataFormatada)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.falta == 1">
											<a style="color: red" href=""
												ng-click="detalhesAula(pesq.idAula);mudaData(dataFormatada)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div>
										<div ng-if="pesq.faltajusticada == 1">
											<a style="color: red" href=""
												ng-click="detalhesAula(pesq.idAula)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div>
										<div
											ng-if="pesq.faltajusticada == 0 && pesq.falta == 0  && pesq.presenca == 0">
											<a style="color: blue" href=""
												ng-click="detalhesAula(pesq.idAula);mudaData(dataFormatada)"><h4>
													{{::pesq.horario}} - {{::pesq.nomeAluno}}</h4></a>
										</div></li>
								</ul>

							</div>
						</div>

					</div>
				</div>	
				<div class="col-sm-12"	style="margin-left: 238px; margin-top: -50vh;">
				<div class="text-center">
						<h4><strong>Detalhes da Aula {{::dataAula}}</strong></h4>
					</div>
				
					<div class="noteLargeDetalheAula yellow  dash">
						<div class="scrolltelaAula" ng-if="exibeAula">
					<div >
						<div class="col-sm-12">
					<div class="pull-left"
						style="margin-top: 28px; margin-bottom: 10px">
						<button type="button" class="btn btn-info btnTamanho"
							ng-click="sairDetalheAula()" title="Sair">Sair</button>
					</div>
					<div class="pull-left"
						style="margin-top: 28px; margin-bottom: 10px">
						<button type="button" class="btn btn-success btnTamanho"
							ng-click="atualizarAula()" title="Atualizar Aula">Atualizar</button>
					</div>
				</div>
						
						<div class="col-sm-12" style="margin-bottom: 20px">
						<hr/>
					<div class="well">
						<p>
						<h4>
							<strong>Nome Aluno: </strong> <span
								style="white-space: pre-wrap; color: red">{{dadosAula.nomeAluno}}</span>
						</h4>
						</p>
						<p>
						<h4>
							<strong>Horário Aula: </strong> <span
								style="white-space: pre-wrap; color: red">{{dadosAula.horario}}</span>
						</h4>
						</p>

					</div>
					<div class="col-xs-12">
						<hr>
					</div>
					<div class="col-sm-12" style="margin-bottom:12px">
						<div class="col-sm-5 col-sm-offset-3">
							<label class="pull-left">Tipo da Aula</label> <select
								class="form-control" ng-model="dadosAula.tipo">
								<option value="">Selecione</option>
								<option value="Extra">Extra</option>
								<option value="Normal">Normal</option>
								<option value="Reposição">Reposição</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12">
						<hr>
					</div>
					<div class="col-xs-12 well">
						<div style="margin-bottom: 12px;font-size: 12px">
							<dualmultiselect options="demoOptions"> </dualmultiselect>

						</div>

					</div>

					<div class="col-xs-12" style="margin-bottom: 20px">
						<div class="col-sm-12">
							<label class="pull-left">Observação</label>
							<textarea class="form-control" ng-model="dadosAula.observacao"
								cols="100" rows="5" wrap="soft">
							</textarea>
						</div>
					</div>

					<hr>
					<div class="col-sm-offset-1">
						<div class="col-sm-5">
							<label class="pull-left">Presente</label> <select
								class="form-control obrigatorio" ng-model="dadosAula.presenca"
								ng-disabled="dadosAula.falta =='1' || dadosAula.faltajusticada == '1'">
								<option value="">Selecione</option>
								<option value="0">Não</option>
								<option value="1">Sim</option>
							</select>
						</div>
						<div class="col-sm-5">
							<label class="pull-left">Falta</label> <select
								class="form-control obrigatorio" ng-model="dadosAula.falta"
								ng-disabled="dadosAula.presenca=='1' || dadosAula.faltajusticada == '1'">
								<option value="">Selecione</option>
								<option value="0">Não</option>
								<option value="1">Sim</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="margin-bottom:22px">
					<div class="col-sm-5 col-sm-offset-3">
						<label class="pull-left">Falta Justificada</label> <select
							class="form-control obrigatorio"
							ng-model="dadosAula.faltajusticada"
							ng-disabled="dadosAula.presenca=='1' || dadosAula.falta == '1'">
							<option value="">Selecione</option>
							<option value="0">Não</option>
							<option value="1">Sim</option>
						</select>
					</div>
				</div>
				<div ng-show="dadosAula.faltajusticada == '1'">
					<div class="col-xs-12" style="margin-bottom: 40px">
						<div class="col-xs-10">
							<label class="pull-left">Motivo Falta</label>
							<textarea class="form-control"
								ng-model="dadosAula.obsjustificada" cols="100" rows="5"
								wrap="soft">
					</textarea>
						</div>
					</div>
				</div>
				<hr>
				<div class="col-sm-12" style="margin-bottom: 30px">
					<label class="pull-left">Resultado do treino(PSE)</label>
				</div>
				<div class="col-sm-12 col-sm-offset-2">

					<div class="imagens">
						<input type="radio" name="imagem" id="resultado1" value="1"
							ng-model="dadosAula.resultado" /> <label for="resultado1">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #009966"></i>
						</label> <input type="radio" name="imagem" id="resultado2" value="2"
							ng-model="dadosAula.resultado" /> <label for="resultado2">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #009966"></i>
						</label> <input type="radio" name="imagem" id="resultado3" value="3"
							ng-model="dadosAula.resultado" /> <label for="resultado3">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #009966"></i>
						</label> <input type="radio" name="imagem" id="resultado4" value="4"
							ng-model="dadosAula.resultado" /> <label for="resultado4">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #009966"></i>
						</label> <input type="radio" name="imagem" id="resultado5" value="5"
							ng-model="dadosAula.resultado" /> <label for="resultado5">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #009966"></i>
					</div>
				</div>	
					<div class="col-sm-12 col-sm-offset-2" style="margin-bottom:22px">		
					<div class="imagens">
					 <input type="radio" name="imagem" id="resultado6" value="6"
							ng-model="dadosAula.resultado" /> <label for="resultado6">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #FFFF33"></i>
						</label> <input type="radio" name="imagem" id="resultado7" value="7"
							ng-model="dadosAula.resultado" /> <label for="resultado7">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #FFFF33"></i>
						</label> <input type="radio" name="imagem" id="resultado8" value="8"
							ng-model="dadosAula.resultado" /> <label for="resultado8">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #FFFF33"></i>
						</label> <input type="radio" name="imagem" id="resultado9" value="9"
							ng-model="dadosAula.resultado" /> <label for="resultado9">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #FF0033"></i>
						</label> <input type="radio" name="imagem" id="resultado10" value="10"
							ng-model="dadosAula.resultado" /> <label for="resultado10">
							<i class="fa fa-smile-o" style="font-size: 4em; color: #FF0000"></i>
						</label>

					</div>
				</div>

						
						
						</div>
					</div>
				
				</div>
				<div>
				</div>	

				</div>
			</div>
		</div>
	</div>
</div>
