<div ng-controller="principalController">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header"></div>

		</div>
	</nav>

	<div class="nav-side-menu">
		<div class="brand">Personal GYM Manager</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
			data-target="#menu-content"></i>
		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapsed out">
				<li data-toggle="collapse" data-target="#cadastros"
					class="collapsed active"><a href=""><i
						class="fa fa-building fa-lg"></i> Cadastros <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="cadastros">
					<li class="active"><a href="" ng-click="buscarAula()">Aula</a></li>
					<li><a href="" ng-click="buscarTreino()">Treino</a></li>
				</ul>
				<li data-toggle="collapse" data-target="#alunos" class="collapsed">
					<a href=""><i class="fa fa-users fa-lg"></i> Alunos <span
						class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="alunos">
					<li><a href="" ng-click="buscarAluno()">Aluno</a></li>
					<li><a href="" ng-click="buscarAlunoHora()">Aluno Hora/Aula</a></li>
				</ul>

				<li data-toggle="collapse" data-target="#financeiro" class="collapsed">
					<a href="#"><i class="fa fa-money fa-lg"></i>Financeiro<span
						class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="financeiro">
					<li><a href="" ng-click="buscarHistorico()">Controle Financeiro</a></li>
					<li><a href="" ng-click="buscarAulaExtra()">Aulas Extras</a></li>
				
				</ul>
			</ul>
		</div>
	</div>

	<div class="container" id="main">
		<div class="row">
			<div class="col-md-12">
				<div ng-show="exibeTela">
					<div id="logo">
						<h1>Personal GYM Manager</h1>
					</div>
				</div>
				<div ui-view="paginas"></div>
			</div>
		</div>
	</div>



</div>


