<div ng-controller="principalController" ng-init="inicio()">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header"></div>

		</div>
	</nav>

	<div class="nav-side-menu">
		<div class="brand">Personal GYM Manager</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
			data-target="#menu-content"></i>
		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapsed out">
			
			    <li  class="active"><a href=""  ng-click="dashboard()"><i class="fa fa-home fa-lg"></i> Home</a>
				</li>	
				<li data-toggle="collapse" data-target="#cadastros"
					class="collapsed"><a href=""><i
						class="fa fa-building fa-lg"></i> Cadastros <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="cadastros">
					<li><a href="" ng-click="buscarAluno()">Aluno</a></li>
					<li><a href="" ng-click="buscarAula()">Aula</a></li>
					<li><a href="" ng-click="buscarProfissao()">Profissão</a></li>
					<li><a href="" ng-click="buscarTreino()">Treino</a></li>
				</ul>
				<li data-toggle="collapse" data-target="#financeiro" class="collapsed">
					<a href=""><i class="fa fa-money fa-lg"></i>Financeiro<span
						class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="financeiro">
					<li><a href="" ng-click="buscarHistorico()">Controle Financeiro</a></li>
					<!-- <li><a href="" ng-click="buscarAulaExtra()">Aulas Extras</a></li>  -->
				
				</ul>
				<li data-toggle="collapse" data-target="#comemoracoes" class="collapsed">
					<a href=""><i class="fa fa-birthday-cake fa-lg"></i>Comemorações<span
						class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="comemoracoes">
					<li><a href="" ng-click="buscarAniversariante()">Aniversariantes do Mês</a></li>
					<li><a href="" ng-click="buscarProfissional()">Dia do Profissional</a></li>
				
				</ul>
				<li data-toggle="collapse" data-target="#relatorios" class="collapsed">
					<a href=""><i class="fa fa-list-alt fa-lg"></i>Relatórios<span
						class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="relatorios">
					<li><a href="" ng-click="buscarRelatorioTreino()">Resultado Treino</a></li>
					
				</ul>
			</ul>
		</div>
	</div>

	<div class="container" id="main">
		<div class="row">
			<div class="col-md-12">
				<div ui-view="paginas"></div>
			</div>
		</div>
	</div>



</div>


