<div ng-controller="aulaController" ng-init="inicioBusca()">
<div growl></div>
<div ng-show ="carregaSpinner">
	<span style="margin-top: 15%"
		us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-success btnTamanho" ng-click="cadastraAula()" 
					title="Cadastrar Aula">Cadastrar</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<h2>Aula</h2>
			</div>
		</div>
	</div>
	<div class="text-center ajuda">
		<span><strong>Ajuda: Cadastro/Atualização de Aulas</strong></span>
	</div>
<div class="scrolltela">	
	<form name="formBusca">
	<div class="col-sm-12" style="margin-top: 34px">
		
		<div class="col-sm-4">
			
			<input type="text" class="form-control" ng-model = "busca"
					placeholder="Digite um nome para a busca" required> 
			

		</div>
	</div>
</form>	
	<div class="col-md-12">
				<div class="table-responsive scrollTabela"
					style="margin-top: 16px; position: relative">
					<table class="table table-striped table-hover" width="90%">
						<thead>
							<tr>
								<td><strong>Nome do Aluno</strong></td>
								<td><strong>Data da Aula</strong></td>
								<td><strong>Dia da Semana</strong></td>
								<td><strong>Horário</strong></td>
								<td><strong>Tipo da Aula</strong></td>
								<td><strong>Presença</strong></td>
								<td><strong>Falta</strong></td>
								<td><strong>Falta Justificada</strong></td>
								<td><strong>PSE</strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

						</thead>

						<tbody>
							<tr ng-repeat ="pesq in listaAula | filter: busca ">
								<td>{{pesq.nomeAluno}}</td>
								<td>{{pesq.dataAula}}</td>
								<td>{{pesq.diaSemana}}</td>
								<td>{{pesq.horario}}</td>
								<td>{{pesq.tipo}}</td>
								<td>{{pesq.presenca == 0? "Não" :"Sim" }}</td>
								<td>{{pesq.falta == 0? "Não":"Sim"}}</td>
								<td>{{pesq.faltajusticada == 0 ? "Não" : "Sim"}}</td>
								<td><div ng-if = "pesq.resultado == ''"><i class="fa fa-frown-o" style="font-size: 2em; color:#000000"></i></div>
									<div ng-if = "pesq.resultado == 0"><i class="fa fa-frown-o" style="font-size: 2em; color:#000000"></i></div>
								    <div ng-if = "pesq.resultado == 1"><i class="fa fa-smile-o" style="font-size: 2em; color:#009999"></i></div>
								    <div ng-if = "pesq.resultado == 2"><i class="fa fa-smile-o" style="font-size: 2em; color:#00CC00"></i></div>
								    <div ng-if = "pesq.resultado == 3"><i class="fa fa-smile-o" style="font-size: 2em; color:#009900"></i></div>
								    <div ng-if = "pesq.resultado == 4"><i class="fa fa-smile-o" style="font-size: 2em; color:#006600"></i></div>
									<div ng-if = "pesq.resultado == 5"><i class="fa fa-smile-o" style="font-size: 2em; color:#003300"></i></div>
									<div ng-if = "pesq.resultado == 6"><i class="fa fa-smile-o" style="font-size: 2em; color:#FFFF99"></i></div>
									<div ng-if = "pesq.resultado == 7"><i class="fa fa-smile-o" style="font-size: 2em; color:#FFCC00"></i></div>
									<div ng-if = "pesq.resultado == 8"><i class="fa fa-smile-o" style="font-size: 2em; color:#FF6600"></i></div>
									<div ng-if = "pesq.resultado == 9"><i class="fa fa-smile-o" style="font-size: 2em; color:#FF0033"></i></div>
									<div ng-if = "pesq.resultado == 10"><i class="fa fa-smile-o" style="font-size: 2em; color:#FF0000"></i></div>
								</td>
								
								<td></td>
								<td><span><a href="" ng-click="atualizaAula(pesq.idAula)"
									class="fa fa-edit  fa-2x" title="Alterar" style="color: blue"></a></span></td>
								<td><span><a href="" ng-click="excluirAula(pesq.idAula)"
									class="fa fa-times fa-2x" title="Excluir" style="color: red"></a></span></td>
							</tr>
						</tbody>
					</table>
				</div>
</div>
</div>
</div>