<div ng-controller="aulaController">
<div growl></div>
<div ng-show ="carregaSpinner">
	<span style="margin-top: 15%"
		us-spinner="{radius:25,width:8,length:16}" spinner-on="showSpinner"></span>
</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="pull-left" style="margin-top: 28px; margin-bottom: 20px">
				<button type="button" class="btn btn-success btnTamanho" ng-click="cadastraAula()" 
					title="Cadastrar Aula">Cadastrar</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<h2>Aula</h2>
			</div>
		</div>
	</div>
	<div class="text-center">
		<h5><span style="color:red"><strong>Ajuda: Cadastro/Atualização de Aulas e vinculo dos alunos</strong></span></h5>
	</div>
	<form name="formBusca">
	<div class="col-sm-12">
		<hr>
		<div class="col-sm-6">
			<div class="input-group">
				<input type="text" class="form-control" ng-model = "busca"
					placeholder="Digite o nome da aula para busca" required> <span
					class="input-group-btn">
					<button class="btn btn-search" type="submit" ng-click="buscarAula(busca)" 
					 ng-disabled="formBusca.$invalid">
						<i class="fa fa-search fa-fw"></i> Busca
					</button>
				</span>
			</div>

		</div>
	</div>
</form>	
	<div class="col-md-12">
				<div class="table-responsive scrollTabela"
					style="margin-top: 16px; position: relative">
					<table class="table table-striped table-hover" width="90%">
						<thead>
							<tr>
								<td><strong>Nome</strong></td>
								<td><strong>Data</strong></td>
								<td><strong>Dia da Semana</strong></td>
								<td><strong>Duração</strong></td>
								<td><strong>Tipo</strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

						</thead>

						<tbody>
							<tr ng-repeat ="pesq in listaAula">
								<td>{{pesq.nome}}</td>
								<td>{{pesq.dataAula | formataData}}</td>
								<td>{{pesq.diaSemana}}</td>
								<td>{{pesq.duracao}}</td>
								<td>{{pesq.tipo}}</td>
								<td></td>
								<td><button type="button" title="Vincular alunos para aula" class="btn btn-default"
								ng-click="exibirVinculo(pesq)"
								>Vincular Aluno</button></td>
								<td><span><a href="" ng-click="atualizaAula(pesq.idAula)"
									class="fa fa-edit  fa-2x" title="Alterar" style="color: blue"></a></span></td>
								<td><span><a href="" ng-click="excluirAula(pesq.idAula)"
									class="fa fa-times fa-2x" title="Excluir" style="color: red"></a></span></td>
							</tr>
						</tbody>
					</table>
				</div>
</div>
</div>